{% extends 'parent.html' %}
{% block content_body %}
    <h1>Notus</h1>
    <p>Remove account and data:</p>
    <form action='/remove_account' method='POST' enctype='multipart/form-data'>
        <p><input type='text' maxlength='20' style='width: 30ch;' name='login_name' placeholder='(Username)' required></p>
        <p>{{ message_error }}</p>
        <p>
            <a href='/'>
                <button type='button'>
                    Back
                </button>
            </a>
            &nbsp;&nbsp;&nbsp;
            <button type='submit'>
                Delete
            </button>
        </p>
    </form>
{% endblock %}