{% extends 'parent.html' %}
{% block content_body %}
    <h1>Notus</h1>
    <p class='p_container'>
        Rename file {{ file_name }} in {{ '/' + current_dir if current_dir else 'root folder' }}
    </p>
    <form action='/rename/{{ file_path }}' method='POST' enctype='multipart/form-data'>
        <p><input type='text' maxlength='250' style='width: 50ch;' value='{{ file_name }}' name='file_name' placeholder='(File name)' required></p>
        <p>{{ message_error }}</p>
        <p>
            <a href='/view/{{ current_dir }}'>
                <button type='button'>
                    Back
                </button>
            </a>
            &nbsp;&nbsp;&nbsp;
            <button type='submit'>
                Rename
            </button>
        </p>
    </form>
{% endblock %}